@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Mulish:ital,wght@0,200;1,300&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
  font-family: 'Mulish', sans-serif;
}
.app{
min-height: 100vh;
  background-color:rgb(36, 35, 35) ;
  /* margin-top: 20px; */
}